@import './globals/all';

%reset-margin {
  margin: 0;
}
%reset-padding {
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  padding: 10px;
  border-bottom: 1px dotted $color-main-3;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background: $color-base-2;
  color: $color-main-1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

pre {
  padding: 20px;
  background: #3d3d3d;
  color: $color-base-2;
}

