@import 'globals/all';

.l-container {
  width: 90%;
  max-width: 720px;
  margin: 2rem auto;
}

// helper classes
.cf {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
.cb {
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
