footer.gl-footer
  p
    small ©2014 Hideaki Ishii All Right Reserved.
/  nav
/    ul.gl-header__link
/      li.gl-header__link__item
/        = link_to 'https://twitter.com/danimal141', target: '_blank'  do
/          img src=image_path('icon_twitter.png') alt='twitter'
/      li.gl-header__link__item
/        = link_to 'https://github.com/dangerousanimal', target: '_blank' do
/          img src=image_path('icon_github.png') alt='github'
