ul.social-btns
  margin-top: 3rem
  padding-left: 0

.social-btns__item
  height:  27px
  list-style: none
  &:not(:last-child)
    margin-right: 10px

  // For FB button's bugs
  .fb_iframe_widget
    span
      vertical-align: baseline !important
