@import 'globals/all'

.article
  padding: 10px 0
  &:not(:first-child)
    margin-top: 2rem

.article__info
  margin-top: 1rem

.article__title
  font-size: 1.2rem

.article__date
  font-size: 0.8rem
  color: $sol-base0

.article__tags
  @extend .article__date
  margin: 0
  li
    list-style: none
    &:not(:first-child)
      margin-left: 10px

  a
    color: inherit
