@import 'globals/all';

.gl-header {
  position: relative;
  background: $sol-base03;
  color: $sol-base3;
  h1 {
    margin-left: 30px;
    font-size: $font-size-x-large;
    line-height: 44px;
  }
  a {
    color: inherit;
  }
}

.gl-header__link {
  position: absolute;
  top: 0; right: 30px;
  width: 90px;
  margin: 7px 0;
  list-style: none;
}
.gl-header__link__item {
  float: left;
  &:nth-child(2) {
    margin-left: 30px;
  }
  a {
    display: block;
  }
  img {
    width: 30px;
    height: auto;
    vertical-align: middle;
  }
}
