@import 'globals/all';

.paginate {
  margin-top: 40px;
}
.paginate__parts {
  padding: 5px 10px;
  border: 1px solid $sol-base0;
  border-radius: 5px;
  a {
    display: block;
    color: $sol-base0;
  }
}

